<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
    <title>Expense Tracker</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 20px;
        }
        .expenses {
            flex-grow: 1;
            margin-right: 20px;
        }


        .sidebar {
            margin-top: 60px;
            flex-basis: 200px;
            background-color: #f4f4f4;
            border-radius: 10px;
            border: 1px solid #ccc;
            padding: 20px;
        }
        .logOutBtn {
            border-radius: 5px;
            margin-top: 10px;
            background-color: #ff6666;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }
        .logOutBtn:hover {
            background-color:#ae3838;
        }
        .editUserBtn {
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }
        .editUserBtn:hover {
            background-color:#0056b3;
        }


        h1 {
            margin-top: 12px;
            margin-bottom: 12px;
        }
        ul {
            margin-top: 0;
            list-style-type: none;
            padding: 0;
        }
        li {
            height:min-content;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }


        .sortingForm {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #f4f4f4;
            border-radius: 10px;
            padding: 10px;
        }
        .sortingForm label {
            display: block;
        }
        .sortingForm input,
        .sortingForm select {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .sortingForm button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 20px;
            padding-top: 0px;
            padding-bottom: 0px;
            cursor: pointer;
            border-radius: 4px;
        }
        .sortingForm button:hover {
            background-color: #0056b3;
        }



        .expenseItem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }
        .expenseId {
            display: none;
        }
        .expenseName {
            width: 33%;
            font-weight: bold;
        }
        .income {
            color: green;
        }
        .expense {
            color: red;
        }
        .deleteBtn {
            border-radius: 5px;
            background-color: #ff6666;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }
        .deleteBtn:hover {
            background-color:#ae3838
        }
        .addExpenseForm {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #f4f4f4;
            border-radius: 10px;
            padding: 20px;
        }
        .addExpenseForm label {
            display: block;
            margin-bottom: 10px;
        }
        .addExpenseForm input,
        .addExpenseForm select {
            width: 90%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .addExpenseForm button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 4px;
        }
        .addExpenseForm button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="expenses">
            <h1>Your expenses</h1>
            <ul>
                <li>
                    <form class="sortingForm" action="/" method="get">
                        <div>
                            <label for="sortBy">Sort By:</label>
                            <select name="sortBy" id="sortBy">
                                <option value="date">Date</option>
                                <option value="sum">Sum</option>
                                <option value="name">Name</option>
                            </select>
                        </div>
                        <div>
                            <label for="sortOrder">Sort Order:</label>
                            <select name="sortOrder" id="sortOrder">
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </div>
                        
                        <button type="submit">Sort</button>
                    </form>
                </li>
                <% expenses.forEach(expense => { %>
                    <li>
                        <div class="expenseItem">
                            <span class="expenseName"><%= expense.name %></span><br>
                            <span class="expenseId"><%= expense._id%></span>
                            <% if (expense.sign) { %>
                                <span id="expenseSum" class="income">+ <%= expense.sum %></span>
                            <% } else { %>
                                <span id="expenseSum" class="expense">- <%= expense.sum %></span>
                            <% } %>
                            <span class="expenseDate"><%= expense.date %></span>
                            <form action="/delete/<%= expense._id %>" method="post">
                                <button class="deleteBtn" type="submit">Delete</button>
                            </form>
                        </div>
                    </li>
                <% }) %>
                <li>
                    <form class="addExpenseForm" action="/new" method="post">
                        <input type="hidden" id="newExpenseId" name="id" value="">
                        <div>
                            <label for="newExpenseName">Name:</label>
                            <input type="text" id="newExpenseName" name="name">
                            <label for="newExpenseSum">Amount:</label>
                            <input type="number" id="newExpenseSum" name="sum">
                        </div>
                        <div>
                            <label for="newExpenseSign">Type:</label>
                            <select id="newExpenseSign" name="sign">
                                <option value="true">Income</option>
                                <option value="false">Expense</option>
                            </select>
                        </div>
                        <div>
                            <label for="newExpenseDate">Date:</label>
                            <input type="date" id="newExpenseDate" name="date">
                            <button id="submitButton" type="submit">Add Expense</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        <div class="sidebar">
            <h3>Logged in as</h3>
            <p id="username"><%= username %></p>
            <form action="/user/edit" method="get">
                <button class="editUserBtn" type="submit">Edit user</button>
            </form>
            <form action="/user/logout" method="post">
                <button class="logOutBtn" type="submit">Log out</button>
            </form>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const form = document.querySelector('.addExpenseForm');
        const idInput = form.querySelector('#newExpenseId')
        const nameInput = form.querySelector('#newExpenseName');
        const sumInput = form.querySelector('#newExpenseSum');
        const signInput = form.querySelector('#newExpenseSign');
        const dateInput = form.querySelector('#newExpenseDate');
        
        const expenseItems = document.querySelectorAll('.expenseItem');
        
        form.addEventListener('submit', function(event) {
            if(!nameInput.value || !sumInput.value || !dateInput.value){
                event.preventDefault();
            }
        })    

        function editExpense(expense) {
            form.action = "/change";
            const sum = expense.querySelector('#expenseSum').textContent.substring(2)
            console.log(sum);
            idInput.value = expense.querySelector('.expenseId').textContent.trim();
            nameInput.value = expense.querySelector('.expenseName').textContent.trim();
            signInput.value = expense.querySelector('#expenseSum').classList.contains('income') ? "true" : "false";
            sumInput.value = parseInt(expense.querySelector('#expenseSum').textContent.trim().substring(2));
            dateInput.value = expense.querySelector('.expenseDate').textContent.trim();
            form.querySelector('#submitButton').textContent = 'Submit Changes';
        }
        
        expenseItems.forEach(expense => {
            expense.addEventListener('dblclick', () => {
                editExpense(expense);
            });
        });
        username = "<%= username%>";
        const socket = io();
        socket.emit('login', username);
        </script>
</body>
</html>
